@media (max-width:1024px){

    /* about section */
}

@media (max-width:991px){

    .text-content{
        width: 100%;
    }

    .navigation-wrap.navbar-brand img{
        height: 3.8125em;
    }

    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
}

@media (max-width: 767px){


}

@media (max-width:330px){

    
}