@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*,
*::after,
*::before{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover{
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

ul,
ol{
   margin: 0;          /*  top bar move  */
   padding: 0;
}

/* variable define */

:root{
    --primary-color:#A82C48;
   --secondry-color:#43121d;
    --third-color:#f98169;
   --white-color:#fff;
   --text-color:#555;
    --text-grey:#999;
    --black-color:#000;
    --primary-font: 'Roboto','sans-serif';
    --secondary-font: 'Quicksand',sans-serif;
    


}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/* custom scrolling */

::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

/* custom css design */

h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color:var(--secondry-color);
    
}

h2{
    font-weight:700;
    font-size:2.25rem;
    text-transform:  capitalize;
    font-family: var(--secondry-color);
    line-height: 3rem;

}
h4{
    color:var(--secondry-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom:0.5rem;

}

h5{
    color:var(--secondry-color);
    text-transform: capitalize;
    font-family: var(--secondary-font);
    font-size : 1rem;
    font-weight : 700;
    margin-bottom :0.5rem;

}

p{
    font-size: 1rem;
    color: var( --text-color);
    font-weight: 400;
    line-height:1.75rem;
    letter-spacing: 1px;

    
}

.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition:  all .4s ease-out 0s;

}

.white-btn{
    padding: 0.625rem 1.875rem;
    line-height: 25px;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--white-color);
    color: var(--text-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px  2px  10px -1px rgb(0 0 0 /19%);
    -webkit-transition:  all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out os;

}

.main-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    
}

.white-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);

    
}

.wrapper{
 padding-top: 8.25rem;
 padding-bottom: 8.25rem;       
}

.text-content{
    width: 70%;
    margin: auto;

}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2{
color: var(--white-color);
}

/* header design */
.navigation-wrap{
    position:fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.navigation-wrap.nav-item{
    padding:0 0.625rem;
    transition:all 200ms linear;
    
}
.navbar-toggler:focus{
    outline:unset;
    border:unset;
    box-shadow: none;
}



.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color:var(--primary-color);
    letter-spacing: 1px;
    

}

.navigation-wrap .main-btn{
  
    padding:0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}


/* change navbar styling on scroll */

.navigation-wrap.scroll-on{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
    transition:all .15s ease-in-out 0s;
}

/* top banner design */

.top-banner{
    width:100%;
    background: url('../bg/bg-1.jpg') no-repeat center;
    background-size:cover;
    padding:16.875rem 0 9.375rem;

}

 /* counter-section */

 .counter-section{
    background-color:var(--primary-color);
    padding:2.5rem 0;

 }

 .counter-section p{
    color:var(--white-color);
    text-transform: uppercase;
 }
 
 /* about section */
  
.about-section{
    background:var(--white-color);
}
.about-section .card,
.about-section .card img{
    border-radius: 0.625rem;
}
.about-section .text-sec{
    padding-left:2rem;
}
 
/* exlore food section */
.explore-food .card{
    border:none;
    background-color:transparent;
    border-radius: 0.9375rem;

}
.explore-food .card img{
    border-radius: 0.9375rem;
    object-fit:cover;

}
.explore-food .card span{
    display:block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom:1rem;
    border-bottom:0.0625rem solid #eee ;
}
.explore-food .card span del{
    color:var(--text-grey);
    margin-left: 0.5rem;
}