.sidebar{
    position: fixed;
    left:0;
    bottom: 0;
    
background-color:white;
    top: 55px;
    width: 72px;


    
}
.sidebar-link{
    
    height: 76px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    

}
.sidebar-link:hover{
    background-color: lightgray;

}
.sidebar-link img{
    height:24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}